# BUY and HOLD
with calucualte dividend

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
from datetime import datetime, timedelta

In [84]:
ticker = 'NVDA'
start_date = '2024-06-01'
end_date = '2025-06-10'
interval = 'monthly' # 'daily', 'weekly', 'monthly','quarterly','yearly'

In [85]:
df=yf.download(tickers=ticker,start=start_date, end=end_date, multi_level_index=False, progress=False)

In [86]:
df.head()

                 Close        High         Low        Open     Volume
Date
2024-06-03  114.962219  114.962219  111.966202  113.583674  438392000
2024-06-04  116.398750  116.561699  114.007538  115.677994  403324000
2024-06-05  122.399773  122.408765  117.429406  118.332109  528402000
2024-06-06  120.958260  125.545749  118.281138  124.007253  664696000
2024-06-07  120.848289  121.652026  117.983234  119.730653  412386000

In [87]:
df.tail()

                 Close        High         Low        Open     Volume
Date
2025-06-03  141.220001  142.000000  137.949997  138.779999  225578800
2025-06-04  141.919998  142.389999  139.539993  142.190002  167120800
2025-06-05  139.990005  144.000000  138.830002  142.169998  231397900
2025-06-06  141.720001  143.270004  141.509995  142.509995  153986200
2025-06-09  142.630005  145.000000  141.940002  143.190002  184612200

In [88]:
initial_investment = 300
buy_price = df['Close'].iloc[0]
amount_of_stock = initial_investment/buy_price
dividen_per_one_stock = 0.009
final_price = df['Close'].iloc[-1]

start_date = df.index[0]
end_date = df.index[-1]
holding_period = (end_date - start_date).days

print(f"Initial investment: {initial_investment}")
print(f"Buy stock at {buy_price:.2f}")
print(f"Amount of stock bought: {amount_of_stock:.2f}")
print(f"Holding period: {holding_period} days")
print(f"Divident received per time: {dividen_per_one_stock*amount_of_stock}")

if interval == 'daily':
    n_stock = amount_of_stock
    dividend = dividen_per_one_stock * n_stock * holding_period
    total_return = dividend + final_price*amount_of_stock
    print(f"Divident times received: {holding_period}")
    print(f"Total Dividend: {dividend:.2f}")
    print(f"Final price: {final_price:.2f}")
    print(f"Final return: {total_return} with profit {(total_return-initial_investment)}")
elif interval == 'weekly':
    n_stock = amount_of_stock
    dividend = dividen_per_one_stock * n_stock * (holding_period//7)
    total_return = dividend + final_price*amount_of_stock
    print(f"Divident times received: {holding_period//7}")
    print(f"Total Dividend: {dividend:.2f}")
    print(f"Final price: {final_price:.2f}")
    print(f"Final return: {total_return} with profit {(total_return-initial_investment)}")
elif interval == 'monthly':
    n_stock = amount_of_stock
    dividend = dividen_per_one_stock * n_stock * (holding_period//30)
    total_return = dividend + final_price*amount_of_stock
    print(f"Divident times received: {holding_period//30}")
    print(f"Total Dividend: {dividend:.2f}")
    print(f"Final price: {final_price:.2f}")
    print(f"Final return: {total_return} with profit {(total_return-initial_investment)}")
elif interval == 'quarterly':
    n_stock = amount_of_stock
    dividend = dividen_per_one_stock * n_stock * (holding_period//90)
    total_return = dividend + final_price*amount_of_stock
    print(f"Divident times received: {holding_period//90}")
    print(f"Total Dividend: {dividend:.2f}")
    print(f"Final price: {final_price:.2f}")
    print(f"Final return: {total_return} with profit {(total_return-initial_investment)}")
elif interval == 'yearly':
    n_stock = amount_of_stock
    dividend = dividen_per_one_stock * n_stock * (holding_period//365)
    total_return = dividend + final_price*amount_of_stock
    print(f"Divident times received: {holding_period//365}")
    print(f"Total Dividend: {dividend:.2f}")
    print(f"Final price: {final_price:.2f}")
    print(f"Final return: {total_return} with profit {(total_return-initial_investment)}")
else:
    print("Invalid interval")

Initial investment: 300
Buy stock at 114.96
Amount of stock bought: 2.61
Holding period: 371 days
Divident received per time: 0.023485976679031673
Divident times received: 12
Total Dividend: 0.28
Final price: 142.63
Final return: 372.4823837654715 with profit 72.48238376547152